/**
 * Copyright 2015 creditease Inc. All rights reserved.
 * @desc 样式重置，有问题请及时反馈
 * @author chengyuchen
 * @date 2015/02/03
 */

@charset "utf-8";

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, 
form, fieldset, legend, img, blockquote, button {
    margin: 0;
    padding: 0;
}
body,div {
    font-family: "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", sans-self;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
fieldset, img {
    border: none;
}
a:hover,
a:active {
    text-decoration: none;
}
button, input, textarea, select {
    font-family: inherit;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    cursor: pointer;
}
button[disabled], 
input[disabled],
textarea[disabled],
select[disabled] {
    cursor: default;
    color: #B3B3B3;
    background-color: #EFEFEF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    vertical-align: middle;
}
textarea {
    resize: none;
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
small {
    font-size: 12px;
}
sub, sup {
    position: relative;
    font-size: 75%;
}
sub {
    top: -0.5em;
}
sup {
    bottom: -0.25em;
}
nav, header, footer, aside, section, article, details,
figure, figcaption, hgroup, summary {
    display: block;
}
canvas, audio, video {
    display: inline-block;
}
mark {
    background: #ff0;
    color: #000;
}
/**
 * 去除(iOS黑色遮罩)和(Android下的边框虚线)及下划线
 * @see http://stackoverflow.com/questions/5210481/disable-orange-outline-highlight-on-focus
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}